// tablet
@media (max-width: 768px) {
  .main-container {
    .header-wrapper {
      .header-content {
        padding: 39px 0px 36px 0px;
        max-width: 573px;
      }
    }
  }
  #search-section {
    .search-box {
      max-width: 573px;
      padding: 9.5px 10px 9.5px 32px;
      .search-content {
        max-width: 531px;
        .btn {
          .result {
            display: none;
          }
        }
      }
    }
  }
  #profile-section {
    .profile-card {
      width: 573px;
      height: 481px;
      padding: 40px;
      .profile-content {
        .grid {
          grid-template-columns: 117px 41px 1fr;
          grid-template-rows: 117px 24px 1fr;

          .profile-picture {
            img {
              width: 117px;
              height: 117px;
            }
          }

          .profile-picture {
            height: 117px;
            width: 117px;
          }

          .profile-info {
            flex-direction: column;
          }

          .grid_1 {
            grid-column: 1;
            grid-row: 1;
          }
          .grid_2 {
            grid-column: 3;
            grid-row: 1;
          }

          .grid_3 {
            grid-column: 3;
            grid-row: 3;
          }
        }

        .profile-details {
          flex-direction: column;
          justify-content: center;
          padding-top: 32px;
          .user-stats {
            .stat-box {
              border-radius: 10px;

              width: 493px;
              height: 85px;
              padding: 15px 96px 17px 32px;
            }
          }
        }
        .user-links {
          padding-top: 37px;
          display: grid;
          grid-template-columns: 1fr 62px 1fr;
          grid-template-rows: 1fr 21px 1fr;

          a {
            display: flex;
            img {
              padding-right: 20px;
            }
          }
        }
      }
    }
  }
}

//phone

@media (max-width: 375px) {
  .main-container {
    .header-wrapper {
      .header-content {
        padding: 31px 0px 36px 0px;
        max-width: 327px;
      }
    }
  }

  #search-section {
    .search-box {
      max-width: 327px;
      padding: 6.5px 7px 7.5px 16px;

      .search-content {
        max-width: 304px;
        .btn {
          .search-btn {
            padding: 12.5px 15px;
          }
        }
      }
    }
  }

  #profile-section {
    .profile-card {
      width: 327px;
      height: 517px;
      padding: 32px 24px 48px 24px;

      .profile-content {
        .grid {
          grid-template-columns: 70px 19px 1fr;
          grid-template-rows: 70px 33px 1fr;

          .grid_1 {
            img {
              width: 70px;
              height: 70px;
            }
          }

          .grid_2 {
            flex-direction: column;
            height: 69px;
          }

          .grid_2 {
            grid-column: 3;
            grid-row: 1;
          }

          .grid_3 {
            grid-column: 1 / 4;
            grid-row: 3;
          }
        }
        .profile-details {
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding-top: 23px;

          .user-stats {
            .stat-box {
              border-radius: 10px;
              width: 279px;
              height: 85px;
              padding: 18px 14px 19px 15px;
            }
          }
          .user-links {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            height: 127px;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
