.grid {
  max-height: 140px;
  height: 100%;
  display: grid;
  grid-template-columns: 117px 37px 480px;
  grid-template-rows: 1fr 20px 1fr;
}

.profile-picture {
  grid-row: 1 / 4;
  grid-column: 1;
}

.profile-info {
  grid-row: 1;
  grid-column: 3;
}

.bio-info {
  grid-row: 3;
  grid-column: 3;
}
