.grid {
  display: grid;
  grid-template-columns: 117px 37px 480px;
  grid-template-rows: 65px 20px 25px;
}

.grid_1 {
  grid-row: 1 / 4;
  grid-column: 1;
}

.grid_2 {
  grid-row: 1;
  grid-column: 3;
}

.grid_3 {
  grid-row: 3;
  grid-column: 3;
}
