.main-container {
  .header-wrapper {
    .header-content {
      margin: 0 auto;
      padding-bottom: 35px;
      padding-top: 144px;
      max-width: 730px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
