#search-section {
  .search-box {
    border-radius: 15px;
    background-color: #ffffff;
    max-width: 730px;
    padding: 9.5px 10px 9.5px 32px;
    margin: 0 auto;

    .search-content {
      width: 688px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-input {
        display: flex;
        align-items: center;
        img {
          padding-right: 24px;
        }
        input {
          border: none;
          outline: none;
          background-color: transparent;
        }
        .search-field::placeholder {
          color: #ffffff;
        }
      }

      .btn {
        max-width: 222px;
        display: flex;
        align-items: center;

        .result {
          display: none;
        }

        .no-result {
          padding-right: 24px;
          display: block;
          color: red;
          font-size: 15px;
          font-style: bold;
        }
      }
    }
  }
  .search-box-toggle {
    background-color: #1e2a47;
  }
}

// DARK MODE
