header {
  .header-content {
    .header-title {
      font-weight: bold;
      font-size: 26px;
    }

    //header title

    .header-title-toggle {
      color: #ffffff;
    }

    button {
      span {
        font-weight: bold;
        letter-spacing: 2.5px;
        font-size: 13px;
      }

      .toggle-dark {
        color: #ffffff;
      }
    }
  }
}

#profile-section {
  .profile-card {
    .profile-content {
      .profile-header {
        .profile-info {
          h1 {
            color: #2b3442;
            font-weight: bold;
            font-size: 26px;
          }

          .user-name-toggle {
            color: #ffffff;
          }

          h2 {
            color: #0079ff;
            font-size: 16px;
            font-weight: bold;
          }
          p {
            font-size: 15px;
            color: #697c9a;
          }

          .join-info-toggle {
            color: #ffffff;
          }
        }
        .user-bio {
          color: #4b6a9b;
          font-size: 15px;
        }

        .user-bio-toggle {
          color: #ffffff;
        }
      }
      .profile-details {
        .user-stats {
          .stat-box {
            .stats-content {
              h4 {
                font-size: 13px;
                color: #4b6a9b;
                font-weight: normal;
              }

              .stat-title-toggle {
                color: #ffffff;
              }

              span {
                font-weight: bold;
                font-size: 22px;
                color: #2b3442;
              }

              .stat-value-toggle {
                color: #ffffff;
              }
            }
          }
        }
        .user-links {
          .aref {
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  header {
    .header-content {
      span {
        font-weight: bold;
        font-size: 26px;
      }
      button {
        span {
          font-weight: bold;
          letter-spacing: 2.5px;
          font-size: 13px;
        }
      }
    }
  }
  #profile-section {
    .profile-card {
      .profile-content {
        .profile-info {
          .user-info {
            h1 {
              color: #2b3442;
              font-weight: bold;
              font-size: 16px;
            }
            h2 {
              color: #0079ff;
              font-size: 13px;
              font-weight: normal;
            }
            p {
              font-size: 13px;
              color: #697c9a;
            }
          }
          .user-bio {
            color: #4b6a9b;
            font-size: 13px;
          }
        }
        .profile-details {
          .user-stats {
            .stat-box {
              .stats-content {
                h4 {
                  font-size: 11px;
                  color: #4b6a9b;
                  font-weight: normal;
                }

                span {
                  font-weight: bold;
                  font-size: 16px;
                  color: #2b3442;
                }
              }
            }
          }
          .user-links {
            a {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
